{{ define "main" }}


<section class="section mt__5">
    {{ partial "header/hero.html" . }}
    <div class="container">
        <div class="columns">
            <article class="column is-11">
                <div class="post-title">
                    <h1 class="title">{{ .Title }}</h1>
                    <h4>{{ .Params.description }}</h4>
                </div>
                <div class="meta">
                    <p><!-- Post Credit Section -->
                    {{ partial "widgets/credits.html" . }}
                    {{ partial "widgets/readingtime.html" . }}
                    </p>
                </div>
            </article>
        </div>
        <div class="columns">
            {{ partial "modular-content/mc-article.html" . }}
        </div>
</section>
{{ partial "widgets/post-navigation.html" . }}
{{ partial "widgets/comments.html" . }}

{{ end }}
