<div class="modular-content">
    {{ range .Params.content }}
        {{ if eq .itemType "image" }}
            {{ partial "modular-content/mc-image.html" .}}
        {{ else if eq .itemType "imagefullwidth" }}
            {{ partial "modular-content/mc-imagefullwidth.html" . }}
        {{ else if eq .itemType "images2col" }}
            {{ partial "modular-content/mc-images2col.html" . }}
        {{ else if eq .itemType "images3col" }}
            {{ partial "modular-content/mc-images3col.html" . }}
        {{ else if eq .itemType "textblock" }}
            {{ partial "modular-content/mc-textblock.html" . }}
        {{ else if eq .itemType "video" }}
            {{ partial "modular-content/mc-videoblock.html" . }}
        {{ end }}
    {{ end }}
</div>
