{{ define "mc-gallery2col"}}
    <div class="row row-wrap vertical-images-block">
        <div class="column column-50">
            <img src="{{ .image1.url }}" alt="{{ .author }}" class="mc-image-block">
            <span class="image-text">{{ .credit }}</span>
        </div>
        <div class="column column-50">
            <img src="{{ .image2.url }}" alt="{{ .author }}" class="mc-image-block">
            <span class="image-text">{{ .credit }}</span>
            <img src="{{ .image3.url }}" alt="{{ .author }}" class="mc-image-block">
            <span class="image-text">{{ .credit }}</span>
        </div>
    </div>
{{ end }}
