/* BASE */
*,
*::after,
*::before
    margin: 0
    padding: 0
    -webkit-box-sizing: inherit
    box-sizing: inherit


html
    word-spacing: 1px
    font-size: 16px


body
    font-size: 1rem
    line-height: 1.5rem
    -webkit-box-sizing: border-box
    box-sizing: border-box
    font-family: $futura
    font-weight: 500


img
    vertical-align: middle
    max-width: 100%

hr
    border-top: 2px solid $gray33
    margin: 1rem 0

/* MARGIN SETTIGNS */
.mr
    &__1
        margin-right: 1.25rem

.mt
    &__7
        margin-top: 7.125rem

    &__6
        margin-top: 6rem

    &__5
        margin-top: 3.375rem

    &__3
        margin-top: 3.375rem

    &__2
        margin-top: 2.875rem

.mb
    &__3
        margin-bottom: 3.5rem

    &__4
        margin-bottom: 4rem

/* PADDING SETTINGS */
.px
    &__2
        padding-left: 2rem
        padding-right: 2rem

/* FLEX */
.flex-v-center
    -ms-flex-align: center
    -webkit-align-items: center
    -webkit-box-align: center
    align-items: center

/* TEXT ALIGN */
.align
    &__right
        text-align: right

    &__left
        text-align: left

    &__center
        text-align: center
