/* HEADER */
.header-top
    background-color: $f2f2
    padding: 1rem 0


.header-bottom
    padding: 4rem 0
    .logo
        display: block



.navigation
    .navigation-list
        list-style: none
        margin: 0
        li
            display: inline-block
            vertical-align: middle
            padding: 0 0.5625rem
            margin: 0
            &:first-child
                padding-left: 0

            a
                font-size: 1.125rem
                line-height: 2rem
                span
                    display: inline-block
                    vertical-align: middle
                    padding-right: 1rem
                    &:last-child
                        padding-right: 0







.main-nav
    ul
        margin: 0
        padding: 0
        list-style: none
        li
            display: inline-block
            vertical-align: middle
            margin-right: 1.375rem
            margin-bottom: 0
            &:last-child
                margin-right: 0
                margin-left: 0.5625rem

            a
                display: block
                text-transform: uppercase
                font-size: 1.5rem
                line-height: 1.5rem

            i
                color: $black
                font-size: 1.1rem

            &.active
                a
                    color: $blue


.navbar-toggle
    display: block
    position: relative
    top: 0px
    left: 0px
    z-index: 1
    -webkit-user-select: none
    user-select: none
    input
        display: none
        width: 40px
        height: 32px
        margin-bottom: 0
        position: absolute
        top: 0px
        left: 5px
        cursor: pointer
        opacity: 0
        z-index: 2
        -webkit-touch-callout: none
        &:checked ~ span
            opacity: 1
            transform: rotate(45deg) translate(-2px, -1px)
            background: $black
        &:checked ~ span:nth-last-child(3)
            opacity: 0
            transform: rotate(0deg) scale(0.2, 0.2)
        &:checked ~ span:nth-last-child(2)
            transform: rotate(-45deg) translate(0, -1px)

    span
        display: none
        width: 33px
        height: 4px
        margin-bottom: 5px
        position: relative
        background: $black
        border-radius: 3px
        z-index: 1
        transform-origin: 4px 0px
        transition: transform 0.5s cubic-bezier( 0.77,0.2,0.05,1.0), background 0.5s cubic-bezier( 0.77,0.2,0.05,1.0), opacity 0.55s ease
        &:first-child
            transform-origin: 0% 0%;
        &:nth-last-child(2)
            transform-origin: 0% 100%;



