/* HOME */
.intro_post
    position: relative
    a
        display: block

    &__image
        max-height: 640px
        overflow: hidden
        &:before
            content: ""
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 100%
            display: block
            @include linear-gradient( $white2, $black)


    &__descritpion-text
        position: absolute
        bottom: 0
        width: 100%
        height: auto
        left: 0
        padding: 0 3.875rem 5.5625rem 4.75rem
        .h1
            margin-bottom: 1.4rem
            text-transform: none

        p
            font-size: 1.5rem
            line-height: 2rem
            margin-bottom: 0




.featured-post
    position: relative
    a
        display: block

    &__image
        height: 33.5rem
        overflow: hidden
        position: relative
        display: flex
        justify-content: center
        align-items: center
        &:before
            content: ""
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 100%
            display: block
            @include linear-gradient( $white2, $black)

        img
            max-width: initial
            max-height: 33.5rem
            height: 33.5rem


    &__description-text
        position: absolute
        bottom: 0
        width: 100%
        height: auto
        left: 0
        padding: 0 2rem 1.625rem 2rem
        p
            margin: 1.5rem 0 3.8125rem 0
            min-height: 3rem

        .post-meta
            text-align: left
            font-size: 1.125rem




/* MOMENTS */
.moments-section
    .moments-heding
        p
            font-weight: normal
            color: $black




.post-block
    margin-bottom: 3.5rem
    a
        display: block
        .post-block__image
            display: flex
            display: -webkit-box
            display: -moz-box
            display: -ms-flexbox
            display: -webkit-flex
            justify-content: center
            align-items: center
            height: 22rem
            overflow: hidden
            img
                max-width: initial
                max-height: 22rem
                height: 22rem


        img
            margin-bottom: 1.5rem

        h5
            text-transform: uppercase




/* LATEST MOMENTS */
.newsletter
    background-image: url(../img/background/nl-cta.jpg)
    background-size: cover
    background-repeat: no-repeat
    position: relative
    height: 400px
    background-position: center center
    .newsletter__form
        margin-top: 3rem
        form
            fieldset
                padding: 0 0.25rem 0 1rem
                input
                    line-height: 3rem
                    height: 3rem
                    @include border-radius( 2px)
                    background-color: $white
                    border: none
                    font-size: 1rem
                    color: $gray33
                    font-weight: normal
                    font-family: $futura

                &:last-child
                    padding: 0 1rem 0 0.25rem






/* SINGLE POST */
.hero-image
    .hero-image-inside
        height: 40rem
        overflow: hidden
        position: relative
        img
            max-width: 100%
            width: auto
            height: auto
            position: absolute
            top: 0
            bottom: 0
            left: 0
            right: 0
            margin: auto




.single-post
    .social-block
        .at-share-btn-elements
            .at-share-btn
                display: block
                text-align: center
                &:hover,
                &:focus
                    outline: none
                .at-icon-wrapper
                    float: none
    .social-icons
        list-style: none
        margin: 0 0 0 2.5rem
        padding: 0
        li
            margin: 0.65625rem 0
            a
                color: $black
                font-size: 1.7rem



    .post-title
        h4
            font-weight: normal
            font-family: $futura


    .meta
        margin-top: 1rem
        p
            margin: 0
            color: $graya8
            span
                display: inline-block
                vertical-align: middle
                margin-right: 1.8125rem



    .post-content
        margin-top: 3.25rem
        p
            font-size: 1.5rem
            line-height: 2.5rem
            color: $black1
            margin-bottom: 2.5rem
            font-family: $itc

        .image-text
            font-family: $futura
            line-height: 1.3125rem
            font-size: 1rem
            color: $graya8
            margin-top: 0.3rem
            display: block
            margin-bottom: 3rem



blockquote
    border-left: none
    padding: 0
    font-family: $itcItalic
    line-height: 3.625rem
    font-size: 3.4375rem
    text-transform: capitalize
    color: $black1
    margin-bottom: 0

.quote-autor
    font-family: $futura
    line-height: 1.3125rem
    font-size: 1rem
    color: $graya8
    margin-top: 0.5rem
    display: block
    margin-bottom: 2.5rem
    &:before
        content: "-"
        padding-right: 0.5rem



.two-images-row
    .column
        height: 19rem
        overflow: hidden
        position: relative
        img
            max-width: calc(100% - 2rem)
            width: auto
            height: auto
            position: absolute
            top: 0
            bottom: 0
            left: 0
            right: 0
            margin: auto




.comments-block
    h2
        text-transform: none

    p
        color: $black
        margin-top: 1.125rem


ul.pagination
    text-align: center
    li
        display: inline-block
        vertical-align: middle
        margin-right: 1rem
        padding: 0.5rem 0.8125rem 0.5rem
        border: 1px solid $blue
        color: $white
        line-height: 1
        @include border-radius( 2px )
        &.active,
        &:hover,
        &:focus
            background-color: $blue
            a
                color: $white
        a
            color: $blue
            display: block
            line-height: 1
            cursor: pointer
            span
                display: inline-block
                vertical-align: middle
                margin-top: -7px
