/* MAIN COLORS */
$black: #000
$black2: rgba(0, 0, 0, 0.7)
$white: #fff
$white2:    rgba(252, 252, 252, 0)
$blue: #009fe3
$blue2: #0588c0
$green: #61A55C
$red: #B62E23
$gray: #828282
$f2f2: #f2f2f2
$gray33: #333333
$graya8: #a8a8a8
$black1: #15232D
