{{ define "main" }}

{{ block "hero" . }}{{ end }}
{{ block "posts" . }}{{ end }}

<section class="moments-section mt__5">
    <div class="container">
        <div class="pagination mb__4">
            <div class="columns">
                <div class="columns is-4 align__left">
                </div>
                <div class="is-4 align__right">
                    <a class="button next-page" href="/articles">
                        <span>More Posts</span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}

