{{ define "main" }}

{{ partial "header/hero.html" . }}
{{ partial "sections/posts.html" . }}

<section class="section">
    <div class="container">
        <div class="pagination mb__4">
            <div class="columns">
                <div class="is-4 align__right">
                    <a class="button next-page" href="/articles">
                        <span>More Posts</span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}

