{{ define "main" }}
    <section class="moments-section">
        <div class="container">
            <div class="row">
                <div class="column column-50 column-offset-25">
                    <div class="moments-heding align__center">
                        <h2 class="h1">{{ .Title }}</h2>
                        <p>{{ .Content }}</p>
                    </div>
                </div>
            </div>
            <div class="row row-wrap">
                {{ $paginator := .Paginate (where .Site.Pages "Section" "post") 5 }} <!-- 4-col-moments -->
                {{ range $paginator.Pages }}
                    {{ if .Params.heroVideo }}
                        <div class="column column-33">
                            <div class="post-block">
                                <a href="{{ .Permalink }}">
                                    <div class="post-block__image">
                                        <img src="{{ .Params.heroImage }}" alt="{{ .Title }}" />
                                    </div>
                                </a>
                                <h5 class="color__{{ .Params.category }}">
                                    <a href="/categories/{{ .Params.category }}">
                                        {{ .Params.categoryData.title }}
                                    </a>
                                </h5>
                                <h4>{{ .Title }}</h4>
                            </div>
                        </div>
                    {{ end }}
                {{ end }}
            </div>
            <div class="row row-wrap">
                <div class="column pagination-column">
                    {{ template "_internal/pagination.html" . }}
                </div>
            </div>
        </div>
    </section>
{{ end }}
