{{ define "hero" }}
	{{if not .IsHome }} <!-- if Post -->
        <div class="section">
            <div class="container">
                <div class="column">
                    {{ if .Params.heroVideo }}
                    {{ block "youtube" . }}
                    {{ end }}
                        {{ partial "widgets/youtube.html" . }}
                    {{ else }}
                        <img src="{{ .Params.heroimage }}" alt="{{ .Title }}"/>
                    {{ end }}
                </div>
            </div>
        </div>
	{{ else }}
        <section class="section">
            {{ range first 1 (where .Pages "Section" "post") }}
            {{ if eq .Params.featured true }}
                <div class="container">
                    <div class="intro_post">
                        <a href="{{ .Permalink }}">
                            <div class="intro_post__image">
                                <img src="{{ .Params.heroimage }}" alt="Der eine setzt Trends in der Modefotografie"/>
                            </div>
                            <div class="intro_post__descritpion-text">
                                <h3 class="title">{{ .Title }}</h3>
                                <p class="subtitle">{{ .Params.description }}
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            {{ end }}
            {{ end }}
        </section>
	{{ end }}
{{ end }}
