<div class="header-top">
    <nav class="navigation">
        <ul class="navigation-list px__2">
            <li class="border__right">
                <a href="https://ramp.space" target="_blank"> <span>Part of the</span>
                    <span>
                        <img src="{{ with .Site.Params.logorampspace }}{{ . | absURL }}{{ end }}" alt="ramp.pace"/>
                    </span>
                    <span>Network</span>
                </a>
            </li>
            <li>
                <a href="https://ramp.space" target="_blank"><img src="{{ with .Site.Params.logoramp }}{{ . | absURL }}{{ end }}" alt="ramp"/></a></li>
            <li>
                <a href="https://ramp.space" target="_blank"><img src="{{ with .Site.Params.logorampstyle }}{{ . | absURL }}{{ end }}" alt="rampStyle"/></a></li>
            <li>
                <a href="https://ramp.space" target="_blank"><img src="{{ with .Site.Params.logorampdesign }}{{ . | absURL }}{{ end }}" alt="RampDesign"/></a></li>
        </ul>
    </nav>
</div>